<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <div class="nav">
        <img
          src="/schoodlelogo2.png"
          alt="schoodle"
          width="230px"
          height="80px"
        />
      </div>
    </header>

    <section class="block3">
      <h1>
        Lighthouse Labs Reunion 2020!
      </h1>
      
      <h3>
        The April 2019 cohort will catch up & share their 1st year experiences!
      </h3>

    <div class="votingTable">

    <form class="form-inline">

        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><h6>DATES</h6></div>
          </div>
        </div>
      
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="day-table-text"><h6>MONDAY 9AM</h6></div>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="day-table-text"><h6>TUESDAY 9AM</h6></div>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="day-table-text"><h6>WEDNESDAY 9AM</h6></div>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="day-table-text"><h6>THURSDAY 9AM</h6></div>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="day-table-text"><h6>FRIDAY 9AM</h6></div>
          </div>
        </div>
               
      
      </form>

        <form class="form-inline">

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><h6>CLASSY JOSH<br>JOSH1993@GMAIL.COM<br></h6></div>
              </div>
            </div>
          
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked disabled>
            </div>
              <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck" disabled>
            </div>
              <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked disabled>
            </div>
              <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck" disabled>
            </div>
              <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked disabled>
            </div>
          
          </form>

          <form class="form-inline">

              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><h6>JIMMY<br>JIMMY69@GMAIL.COM<br></h6></div>
                </div>
              </div>
            
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck" disabled>
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked disabled>
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck" disabled>
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked disabled>
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck" disabled>
              </div>
            
            </form>

            <form class="form-inline">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter your name:">
              
                
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              </div>
                <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              </div>
                <div class="form-check mb-2 mr-sm-2"> 
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              </div>
            </form>
          
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Copy link</label>
              <textarea type="email" class="form-control" id="textAreaShortURL" aria-describedby="emailHelp" placeholder="Enter email"><%= shareURL %></textarea>
              <small id="emailHelp" class="form-text text-muted">Share your schoodle with your friends!</small>
            </div>
            <button type="button" class="btn btn-success btn-lg" value="submit">Copy</button>
          </form>

          <button type="button" class="btn btn-refresh btn-lg" value="submit">Refresh</button>

        </div>
    </section>
    <footer></footer>
  </body>
</html>
