<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <div class="nav">
        <img
          src="/schoodlelogo2.png"
          alt="schoodle"
          width="230px"
          height="80px"
        />
      </div>
    </header>

    <section class="block3">
      <h1>
        Title: Lighthouse Labs Reunion 2020!
      </h1>
      
      <h3>
        Description: The April 2019 cohort will catch up & share their 1st year experiences!
      </h3>
    
      <div>
        <button type="button" class="btn btn-outline-info btn-edit1">Edit Row</button>
      </div>
      
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      
      <div class="container3">



      <button type="button" class="btn btn-success btn-lg" value="submit">Update Page</button>

      <table class="table table-striped table-bordered table-hover" id=table>
        <tr class="table-row">
          <th class="table-height">Dates</th>
          <th class="table-height">Monday 9AM</th>
          <th class="table-height">Tuesday 10AM</th>
          <th class="table-height">Wednesday 11AM</th>
          <th class="table-height">Thursday 3PM</th>
          <th class="table-height">Friday 6PM</th>
        </tr>
        
        <tr>
          <td><textarea class="textAreaTable" name="textarea" id="" cols="7" rows="2" placeholder="Classy Josh"></textarea></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
        </tr>

        <tr>
          <td><textarea class="textAreaTable" name="textarea" id="" cols="7" rows="2" placeholder="Granny Bexs"></textarea></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
        </tr>

        <tr>
          <td><textarea class="textAreaTable" name="textarea" id="" cols="7" rows="2" placeholder="Victor"></textarea></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
        </tr>

        <tr>
          <td><textarea class="textAreaTable" name="textarea" id="" cols="7" rows="2" placeholder="Francis"></textarea></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> </td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
        </tr>

        <tr>
          <td><textarea class="textAreaTable" name="textarea" id="" cols="7" rows="2" placeholder="Name:"></textarea></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> </td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
        </tr>

      </table>

    </div>


    </section>
    <footer></footer>
  </body>
</html>
