<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class="nav">
        <img
          src="schoodlelogo2.png"
          alt="schoodle"
          width="230px"
          height="80px"
        />
      </div>
      
    </header>
    <section class="block3">
        <a href="/"
        ><button>Home</button></a
      >
        <h1>Enter your info</h1>
        <form action="/events/new" method="POST">
          <textarea name="name" placeholder="Name"></textarea>
          <textarea name="description" placeholder="Description"></textarea>
          <textarea name="event" placeholder="Event"></textarea>
          <h3>Time</h3>
          <select>
              <option>12pm</option>
              <option>1pm</option>
              <option>2pm</option>
              <option>3pm</option>
              <option>4pm</option>
            </select>
            <br>
            <button type="submit" class="eventform">Submit</button>
          </form>
            <div class="container2">
                <div class="cell cell-1">1</div>
                <div class="cell cell-2">2</div>
                <div class="cell cell-3">3</div>
                <div class="cell cell-4">4</div>
                <div class="cell cell-5">5</div>
                <div class="cell cell-6">6</div>
                <div class="cell cell-7">7</div>
                <div class="cell cell-8">8</div>
                <div class="cell cell-9">9</div>
              </div>
      </section>
      
     
    </section>
    <footer></footer>
  </body>
</html>

