<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <div class="nav">
        <img
          src="/schoodlelogo2.png"
          alt="schoodle"
          width="230px"
          height="80px"
        />
      </div>
    </header>
    <div class="main">
      <section class="block1">
        <h1>Welcome to Schoodle!</h1>
        <div>
          <p>Schoodle is a poll app, NOT a calendar app</p>
        </div>
        <a href="/events/new"><button>Create</button></a>
      </section>
    </div>
    <section class="block2">
      <p>
        BLOCK 2
      </p>
    </section>
    <section class="block3">
      <p>
        BLOCK 3
      </p>

      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>

      <div>
          <button type="button" class="btn btn-edit1">Edit</button>
      </div>
      
      <div>
          <button type="button" class="btn btn-edit2">Edit</button>
      </div>
      
      <div>
          <button type="button" class="btn btn-edit3">Edit</button>
      </div>

      <div class="container3">
        <div class="cell cell-1">1
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>
        
        <div class="cell cell-2">2
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-3">3
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-4">4
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-5">5
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-6">6
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-7">7
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-8">8
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

        <div class="cell cell-9">9
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>

      </div>

      <button type="button" class="btn btn-success btn-lg" value="submit">Update</button>

    </section>
    <footer></footer>
  </body>
</html>
