<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/hello.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class="nav">
          <a href="/"><img
            src="/schoodlelogo2.png"
            alt="schoodle"
            width="230px"
            height="80px"
            ></a>
      </div>
    </header>
    <div class="main">
      <section class="block1">
        <h1>Welcome to Schoodle!</h1>
        <div>
          <p>Make scheduling <strong>easier</strong>.</p>
        </div>
        <a href="/events/new"><button>Create</button></a>
      </section>
    </div>
    <section class="block2"></section>
<<<<<<< HEAD
    
    <footer>


    </footer>
=======
    <section class="block3">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
        voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
      <div class="container">
        <div class="cell cell-1">1</div>
        <div class="cell cell-2">2</div>
        <div class="cell cell-3">3</div>
        <div class="cell cell-4">4</div>
        <div class="cell cell-5">5</div>
        <div class="cell cell-6">6</div>
        <div class="cell cell-7">7</div>
        <div class="cell cell-8">8</div>
        <div class="cell cell-9">9</div>
      </div>
    </section>
    <footer></footer>
>>>>>>> features/events_results_2
  </body>
</html>
