<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/hello.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class="nav">
          <a href="/"><img
            src="/schoodlelogo2.png"
            alt="schoodle"
            width="230px"
            height="80px"
            ></a>
      </div>
    </header>
    <div class="main">
      <section class="block1">
        <h1>Welcome to Schoodle!</h1>
        <div>
          <p>Make scheduling <strong>easier</strong>.</p>
        </div>
        <a href="/events/new"><button>Create</button></a>
      </section>
    </div>
    <section class="block2"></section>
    
    <footer>


    </footer>
  </body>
</html>
