body {
  background-color: #eee;
}
body h1 {
  color: #244751;
}
.nav {
  background: linear-gradient(to left, #acb6e5, #86fde8);
  border-bottom: solid 1px black;
  margin-bottom: 25px;
}
p {
  margin-bottom: 25px;
  margin-left: 2px;
}

.share {
  height: 300px;
  width: 300px;
}


button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
button:hover {
  background-color: #4caf50;
  color: white;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}
header img {
  margin: 25px;
  margin-bottom: 10px;
  animation: float 2s ease-in-out infinite;
}
.block1 {
  height: auto;
  background: red;
  color: white;
  padding: 25px;
}
.block2 {
  height: auto;
  background: black;
  color: white;
  padding: 45px;
}
.block3 {
  height: auto;
  background: white;
  color: black;
  padding: 45px;
  box-sizing: content-box;
  // border: solid black 2px;
  margin: 25px;
}

.btn-success {
  position: absolute;
  margin-left: 10rem;
  margin-top: 35rem;
}

.btn-success2 {
  position: absolute;
}
.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container2 {
  height: auto;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container3 {
  width: 4rem;
  height: auto;
  margin: 4rem 0 4rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  width: 3rem;
  height: 3rem;
}
.cell:hover {
  border-radius: 5px;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  cursor: pointer;
}
.cell-1 {
  background: deepskyblue;
}
.cell-2 {
  background: orangered;
}
.cell-3 {
  background: royalblue;
}
.cell-4 {
  background: gold;
}
.cell-5 {
  background: blueviolet;
}
.cell-6 {
  background: limegreen;
}
.cell-7 {
  background: coral;
}
.cell-8 {
  background: lightseagreen;
}
.cell-9 {
  background: maroon;
}

#inlineCheckbox1 {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 50%;
}

#table {
  position: relative;
  width: 5rem;
  margin-left: 10rem;
}

.table-height {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

#shareBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 2em;
  border: 1px solid grey;
  border-radius: 5px;
}

#myInput {
  padding: 2em;
  margin: 2em 1em 2em;
}